
h1 {
        color: black;
        font-family: lucida sans unicode;
        font-size: 42px;
        font-style: italic;
        text-align-last: center;
        font-weight: lighter;
}

body {
        background-color: white;
                }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
